{% extends 'base.html' %}

{% block content %}
	<ul class="list-group">
		{% for x in files %}
		<li class="list-group-item">
			<a href="/browse/{{current_path}}{{x}}/">{{x}}</a>
		</li>
		{% endfor %}
	</ul>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Upload
</button>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#uploadBatch">
  Upload Batch
</button>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNote">
  Add Note
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/upload_single/" method=POST enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<input name="current_path" value="{{current_path}}" type="hidden">
      	<input name="offset" value="0" type="hidden">
        <input name="data" class="form-control" type="file">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save changes">
      </div>
  	</form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="uploadBatch" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/upload_tar/" method=POST enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload Batch</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<input name="current_path" value="{{current_path}}" type="hidden">
        <input name="data" class="form-control" type="file" accept=".tar">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save changes">
      </div>
  	</form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNote" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="/add_note/" method=POST enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      	<input name="current_path" value="{{current_path}}" type="hidden">
      	<textarea class="form-control" name="message"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary" value="Save changes">
      </div>
  	</form>
    </div>
  </div>
</div>
{% endblock %}